*{
    margin: 0;padding: 0;box-sizing: border-box;
    font-family: monospace;
}
:root{
    --transparentWhite: rgba(255,255,255,0.2);
    --moreTransparent: rgba(255,255,255,.1);
    --accent: white;
    --black: black;
}
body{
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
}
.glassMorphism{
    background-color: var(--moreTransparent);
    color: var(--accent);
    box-shadow: inset 1px 1px 2px var(--accent),
    4px 4px 6px var(--black);
    backdrop-filter: blur(24px) saturate(190%);
    border-radius: 4px;
}
.glassMorphismText{
    background-color: var(--moreTransparent);
    color: var(--accent);
    box-shadow: inset 1px 1px 2px var(--accent),
    inset -1px -1px 3px var(--black);
    backdrop-filter: blur(24px) saturate(190%);
    border-radius: 4px;
    padding: 5px 7px;
}
.glassMorphismInput{
    background-color: var(--moreTransparent);
    color: var(--accent);
    backdrop-filter: blur(24px) saturate(190%);
    border-radius: 4px;
    padding: 5px 7px;
    border: none;
    outline: none;
}
.orb{
    position: fixed;
    z-index: -99;
}
.orb1{
    height: 300px;
    width: 300px;
    background-image: radial-gradient(rgb(251, 0, 255));
    filter: blur(300px);
    border-radius: 50%;
    top: 0;
    left: 0;
}
.orb2{
    height: 500px;
    width: 500px;
    background-image: radial-gradient(rgb(5, 25, 125));
    filter: blur(800px);
    border-radius: 50%;
    right: 35%;
    top: 30%;
}
.orb3{
    height: 300px;
    width: 300px;
    background-image: radial-gradient(rgb(0, 242, 255));
    filter: blur(250px);
    border-radius: 50%;
    bottom: 0;
    right: 10%;
}
.container{
    height: 80vh;
    width: 70vw;
    padding: 10px 20px;
}
nav li{
    cursor: pointer;
}
li{
    list-style: none;
}
nav{
    display: flex;
    padding: 0 5px;
    margin-bottom: 10px;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 5px;
    border-bottom: solid 2px var(--transparentWhite);
}
.user{
    font-weight: 800;
    cursor: pointer;
    letter-spacing: -.1px;
}
.inputField{
    height: 80px;
    display: grid; 
    grid-template-columns: 70% 30%;
    gap: .2px;
}
.inputField input,button{
    height: 50px;
}
.container input{
    padding-left: 10px;
    border-radius:4px 0 0 4px ;
}
input::placeholder{
    color: white;
}
.container button{
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    color: white;
    transition: .2s;
}
button:hover{
    background-color: rgba(172, 255, 47, .3);
    color: black;
}
button:active{
    background-color:  rgba(172, 255, 47, .5);
}
.taskContainer{
    border: solid 2px var(--transparentWhite);
    height: auto;
    max-height: 40vh;
    padding: 10px;
    border-radius: 4px;
    overflow-y:scroll;
}
.completed{
    text-decoration:line-through;
    opacity: 50%;
}
i{
    scale: .6;
    cursor: pointer;
}
p,i{
    transition: .2s;
}
i:hover{
    scale: .8;
}
#taskList li{
    margin: 5px 0;
}
#taskList li:hover{
    background-color: var(--moreTransparent);
}
/* Scrollbar */
::-webkit-scrollbar {
    width: 6px;
    scrollbar-color: white;
}
::-webkit-scrollbar-track {
    background: var(--moreTransparent);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: linear-gradient(
        180deg,
        rgba(251, 0, 255, 0.5),
        rgba(0, 242, 255, 0.5)
    );
    border-radius: 10px;
    border: 1px solid var(--transparentWhite);
    transition: background .2s;
}
::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(
        180deg,
        rgba(251, 0, 255, 0.8),
        rgba(0, 242, 255, 0.8)
    );
}
.keyboard{
    height: 22px;
    width: 22px;
    border: solid .5px var(--moreTransparent);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    bottom: 2%;
    right: 2%;
    display: none;
}
.keyboard:active{
    box-shadow: none;
}
#deleteAllTask:active{
    scale: .9;
    transition: .1s;
    box-shadow: none;
}
.name{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 20px;
    text-align: center;
    display: none;
}
.name input, .name button{
    display: block;
    margin: 5px auto;
    padding: 10px;
    outline: none;
}
.name button{
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;
}
.name button:hover{
    cursor: pointer;
    background-color: rgba(172, 255, 47, .5);
}
.name button:active{
    background-color: rgba(172, 255, 47, .3);
}
.name.show{
    display: block;
}
@media (max-width: 600px){
    .container{
        width: 95vw;
    }
    input::placeholder,button{
        font-size: .8rem;
    }
    .keyboard{
        display: flex;
    }
    #taskList li{
        font-size: 1.1rem;
    }
}
